.main {
    width: 90%;
}

.filters {
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
    text-align: left;
}

.filters p {
    display: inline-block;
    margin-right: 2%;
    width: 48%;
    font-size: 0.75rem;
}

.filters p .sort-filter, .filters p .search-filter {
    width: 45%;
    font-size: 0.75rem;
    padding: 1%;
    margin-right: 5%;
    margin-left: 2%;
}

.filters p input {
    font-size: 0.75rem;
    padding: 1%;
    width: 30%;
}

.filters p .btn-add-filter {
    font-size: 0.75rem;
    padding: 1%;
    background: none;
    border-style: solid;
    cursor: pointer;
}

.filters p select,
.filters p input,
.filters p .btn-add-filter {
    outline: none;
}

.section {
    width: 45%;
    display: inline;
    float: left;
    margin: 1%;
    padding: 1%;
    margin-top: 0;
}

.section h2 {
    margin-block-start: 0;
}

.movie-title-list, .movie-details {
    max-height: 75vh;
    overflow-y: scroll;
}

/* .movie-details {
    max-height: 82vh;
    overflow-y: scroll;
} */

.movie-title-list p {
    cursor: pointer;
}